 body {
     font-family: "NotoSansCJKkr-Medium", "NotoSansCJKkr-Regular", "NotoSansCJKkr-DemiLight", "NotoSansCJKkr-Black", "NotoSansCJKkr-Bold"
         scroll-behavior: smooth;
     width: 100vw;
     overflow-x: hidden;
 }

 * {
     margin: 0;
     padding: 0;
 }

 a {
     color: inherit;
     text-decoration: none;
 }

 ul,
 li {
     list-style: none;
 }

 /*라이브러리*/
 .row::before,
 .row::after {
     display: block;
     clear: both;
     content: "";
 }

 .cell {
     float: left;
 }

 .cell-r {
     float: right;
 }

 img {
     width: 100%;
     vertical-align: middle;
 }

 article {
     width: 1240px;
     height: 100%;
     margin: 0 auto;
     padding-top: 100px;
     /*173px*/
 }

 article h2 {
     font-size: 32px;
     text-align: center;
     font-family: 'Noto Bold';
     /*font-weight:bold;*/
     margin-bottom: 60px;
     letter-spacing: -1px;
 }

 article h2 > .smallTitle {
     font-size: 18px;
     display: block;
     font-family: 'Noto DemiLight';
     /*font-weight:normal;*/
     margin-bottom: 5px;
 }



 /* style-start */

 #chunjae-wrap {
     width: 100%;
     max-width: 1920px;
 }

 /* header */
 .header-wrap {
     width: 100%;
     min-width: 1240px;
     position: fixed;
     top: 0;
     z-index: 99;
 }

 .header-wrap header {
     width: 100%;
     height: 100%;
     z-index: 999;
     padding: 20px 7% 0;
 }

 .header-wrap header:hover {
     color: #fff;
 }

 .header-wrap header h1 {
     font-size: 0;
     padding-left: 35px;
 }


 .header-wrap header .menu-wrap {
     margin-right: 300px;

 }

 header > div > ul {
     padding: 5px 70px;
 }

 header > div > ul > li {
     margin: 0 11px;
 }

 header > div > ul > li > a {
     height: 40px;
     display: inline-block;
 }

 .header-wrap header .menu-wrap > ul > li {
     padding: 10px 10px;
     font-size: 18px;
     font-weight: bold;
     text-align: center;
 }

 .header-wrap header .menu-wrap > .menu-box > li:hover {
     color: #265c9a;
 }

 .header-wrap header .menu-wrap > ul > li > ul > li {
     float: left;
     text-align: left;
 }


 /* sub-menu */

 .sub-menu {
     position: absolute;
     top: 80px;
     width: 800px;
     height: 55px;
     height: 55px;
 }

 .sub-menu li {
     float: left;
     /*width:70px;*/
     height: 55px;
     margin-right: 26px;
 }

 .sub-menu li > a {
     height: 100%;
     display: inline-block;
     font: 300 16px/56px 'Noto Sans KR', sans-serif;
     color: #fff;
 }

 .sub-menu li:hover > a {
     color: #265c9a;
     font-weight: bold;
 }

 /* hamberger-menu */
 .hamberger-menu {
     position: fixed;
     width: 40px;
     height: 30px;
     top: 36px;
     right: 9%;
     transform: translateX(-10%) translateY(-10%);
     background-color: transparent;
     border: 0;
     cursor: pointer;
     z-index: 50;
 }

 .hamberger-menu span {
     position: absolute;
     height: 5px;
     width: 100%;
     background-color: #000;
     top: 0;
     right: 0;
     border-radius: 30px;
     transition: all 0.2s;
 }

 .hamberger-menu > span:nth-child(2),
 .hamberger-menu > span:nth-child(3) {
     top: 40%;
 }

 .hamberger-menu > span:nth-child(4) {
     top: 80%;
 }

 .hamberger-menu.active > span:nth-child(2) {
     transform: translateY(2.5px) rotate(45deg);
 }

 .hamberger-menu.active > span:nth-child(1),
 .hamberger-menu.active > span:nth-child(3) {
     opacity: 0;
 }

 .hamberger-menu.active > span:nth-child(4) {
     transform: translateY(-10px) rotate(-45deg);
 }

 .harf-menu {
     width: 0;
     height: 100%;
     background-color: rgba(255, 255, 255, 0.9);
     position: fixed;
     right: 0;
     top: 0;
     opacity: 0;
     transition: all 0.5s;
     z-index: 20;
     visibility: hidden;
     white-space: nowrap;
 }

 .harf-menu.active {
     width: 500px;
     opacity: 1;
     visibility: visible;
 }

 .harf-menu > ul {
     padding: 130px 50px;
 }

 .harf-menu .main-harf > .main-sub {
     font-size: 20px;
     font-weight: bold;
     padding: 10px;
     color: #265c9a;
 }

 .harf-menu .main-harf > .main-sub > a {
     display: block;
     height: 40px;
     border-bottom: 1px #000 dotted;
 }

 .harf-menu > ul > li > ul > li:hover {
     color: #fdbe37;
 }

 .harf-menu ul li ul {
     padding: 20px 0 25px 0;
     width: 400px;
 }

 .harf-menu ul li ul li {
     font-size: 15px;
     color: black;
     float: left;
     margin-left: 25px;
 }

 .harf-menu .site-menu {
     width: 400px;
     height: auto;
     position: relative;
 }

 .harf-menu .site-menu li {
     position: relative;
     padding: 5px 0;
 }

 .harf-menu .site-menu li::after {
     content: "";
     display: block;
     width: 1.5px;
     height: 60%;
     background: #bbb;
     position: absolute;
     left: 100%;
     top: 10%;
     margin-left: 10px;
 }

 .harf-menu .site-menu li:nth-child(3)::after,
 .harf-menu .site-menu li:nth-child(8)::after,
 .harf-menu .site-menu li:nth-child(11)::after,
 .harf-menu .site-menu li:nth-child(15)::after,
 .harf-menu .site-menu li:nth-child(18)::after {
     display: none;
 }

 /*nav*/

 .nav {
     position: fixed;
     z-index: 10;
     top: 50%;
     right: 2%;
     transform: translateY(-50%);
 }

 .nav .nav-menu {
     margin: 0;
     padding: 0;
     list-style-type: none;
 }

 .nav .nav-menu li {
     position: relative;
     min-width: 80px;
     text-align: right;
 }

 .nav .nav-menu li .dot {
     display: block;
     color: #fff;
     padding: 5px 0;
 }

 .nav .nav-menu li .dot::before,
 .nav .nav-menu li .dot::after {
     display: block;
     position: absolute;
     content: '';
     border-radius: 50%;
     top: 50%;
     transition: all .3s ease;
 }

 .nav .nav-menu li .dot::before {
     width: 5px;
     height: 5px;
     right: 0;
     border: 2px solid #181818;
     transform: translateY(-50%);
 }

 .nav .nav-menu li .dot::after {
     width: 15px;
     height: 15px;
     border: 2px solid #f44336;
     right: -5px;
     transform: translateY(-50%) scale(0);
 }

 .nav .nav-menu li .dot.active::before,
 .nav .nav-menu li:hover .dot::before {
     background: #f44336;
     border-color: #f44336;
 }

 .nav .nav-menu li .dot.active::after,
 .nav .nav-menu li:hover .dot::after {
     transform: translateY(-50%) scale(1);
 }

 .nav .nav-menu li .dot span {
     display: inline-block;
     opacity: 0;
     font-weight: 600;
     letter-spacing: .5px;
     text-transform: capitalize;
     background-color: #f44336;
     padding: 5px 5px;
     border-radius: 3px;
     margin-right: 20px;
     transform: translateX(20px);
     transition: all .3s ease;
 }

 .navr .nav-menu li .dot span::before {
     display: block;
     position: absolute;
     content: '';
     border-left: 7px solid #f44336;
     border-top: 7px solid transparent;
     border-bottom: 7px solid transparent;
     top: 50%;
     transform: translate(7px, -50%);
     right: 0;
     transition: all .3s ease;
 }

 .nav .nav-menu li .dot.active span,
 .nav .nav-menu li:hover .dot span {
     transform: translateX(0px);
     opacity: 1;
 }



 /* section - wrap */
 article {
     width: 1240px;
     height: 100vh;
     margin: 0 auto;
     padding-top: 90px;
 }


 #section01 h1 {
     font-size: 45px;
     line-height: 70px;
     color: #fff;
     padding-top: 150px;
     font-weight: 400;
     font-family: "Noto Regular";
 }


 #wrap #section01 {
     width: 100vw;
     position: relative;
     background-image: url(../img/main-re.jpg);
     background-size: cover;
     background-position: center;

 }



 #section01 .scroll {
     width: 35px;
     position: absolute;
     bottom: 35px;
     left: 50%;
     z-index: 6;
     animation: ani_scroll 1.5s infinite ease-in-out;
 }

 @keyframes ani_scroll {
     0% {
         transform: translateY(0%);
     }

     50% {
         transform: translateY(8%);
     }

     100% {
         transform: translateY(0%);
     }
 }


 img {
     width: 100%;
     vertical-align: middle;
 }


 @keyframes ani-bg {
     .ani-element ul li {
         animation-name: ani-bg;
     }
 }

 .ani-element ul li {
     border-radius: 50%;
     position: absolute;
     left: 70%;
     top: 80%;
     z-index: 7;
 }

 .ani-element ul li:nth-child(1) {
     width: 19px;
     height: 19px;
     background: red;
     opacity: 0.33;
     top: 325px;
     margin-left: 293pxpx;
     animation: ani-bg 5s infinite ease-in-out;
 }

 .ani-element ul li:nth-child(2) {
     width: 41px;
     height: 41px;
     background: #fd6733;
     opacity: 0.5;
     top: 208px;
     margin-left: 75px;
     animation: ani-bg 4.6s infinite ease-in-out;
 }

 .ani-element ul li:nth-child(3) {
     width: 21px;
     height: 21px;
     background: #ffffff;
     opacity: 0.5;
     top: 329px;
     margin-left: 54px;
     animation: ani-bg 4.7s infinite ease-in-out;
 }

 .ani-element ul li:nth-child(4) {
     width: 21px;
     height: 21px;
     background: #3dddff;
     opacity: 0.3;
     top: 416px;
     margin-left: 210px;
     animation: ani-bg 4.5s infinite ease-in-out;
 }

 .ani-element ul li:nth-child(5) {
     width: 32px;
     height: 32px;
     background: #9d62ff;
     opacity: 0.33;
     top: 393px;
     margin-left: 271px;
     animation: ani-bg 5.1s infinite ease-in-out;

 }

 .ani-element ul li:nth-child(6) {
     width: 70px;
     height: 70px;
     background: #ab98ff;
     opacity: 0.25;
     top: 360px;
     margin-left: 107px;
     animation: ani-bg 5.3s infinite ease-in-out;
 }

 .ani-element ul li:nth-child(7) {
     width: 80px;
     height: 80px;
     background: #ffc210;
     opacity: 0.33;
     top: 54px;
     margin-left: 295px;
     animation: ani-bg 4.9s infinite ease-in-out;
 }

 .ani-element ul li:nth-child(8) {
     width: 114px;
     height: 114px;
     background: #b7ff0a;
     opacity: 0.2;
     top: 300px;
     margin-left: 142px;
     animation: ani-bg 5s infinite ease-in-out;
 }

 @keyframes ani-bg {
     0% {
         opacity: 0.33;
         top: 325px;
     }

     100% {
         opacity: 0;
         top: -19px;
     }
 }

 @keyframes ani-bg {
     0% {
         opacity: 0.5;
         top: 208px;
     }

     100% {
         opacity: 0;
         top: -41px;
     }
 }

 @keyframes ani-bg {
     0% {
         opacity: 0.5;
         top: 329px;
     }

     100% {
         opacity: 0;
         top: -21px;
     }
 }

 @keyframes ani-bg {
     0% {
         opacity: 0.3;
         top: 416px;
     }

     100% {
         opacity: 0;
         top: -21px;
     }
 }

 @keyframes ani-bg {
     0% {
         opacity: 0.33;
         top: 393px;
     }

     100% {
         opacity: 0;
         top: -32px;
     }
 }

 @keyframes ani-bg {
     0% {
         opacity: 0.25;
         top: 360px;
     }

     100% {
         opacity: 0;
         top: -70px;
     }
 }

 @keyframes ani-bg {
     0% {
         opacity: 0.33;
         top: 54px;
     }

     100% {
         opacity: 0;
         top: -80px;
     }
 }

 @keyframes ani-bg {
     0% {
         opacity: 0.2;
         top: 350px;
     }

     100% {
         opacity: 0;
         top: -114px;
     }
 }

 @media screen and (max-width:1240px) {
     #section01 h1 {
         font-size: 35px;
         line-height: 60px;
         padding-left: 50px;
     }

     header > div > ul {
         padding: 5px;
         padding-right: 90px;
     }

     .header-wrap header .menu-wrap > ul > li {
         padding: 10px 5px;
     }
 }

 @media screen and (max-width:1140px) {
     .hamberger-menu {
         display: none;
     }
 }

 @media screen and (max-width:960px) {
     .logo {
         width: 180px;
     }

     #section01 h1 {
         font-size: 35px;
         line-height: 50px;
         padding-left: 45px;
     }

     header > div > ul {
         padding: 7px;
         padding-right: 200px;
     }

     .header-wrap header .menu-wrap > ul > li {
         padding: 10px 0px;
         font-size: 16px;
     }
 }

 @media screen and (max-width:768px) {
     .logo {
         width: 150px;
         margin-left: 200px;
         margin-top: 5px;
     }

     header > div > ul > li {
         margin: 0 10px;
     }

     header > div > ul > li > a {
         height: 30px;
         cursor: pointer;
         display: inline-block;
     }

     header > div > ul {
         padding: 10px;
         padding-right: 450px;
     }

     .header-wrap header .menu-wrap > ul > li {
         padding: 5px 0px;
         font-size: 16px;
     }

     .header-wrap header .menu-wrap > ul > li > ul > li {
         /*         padding-top: 50px;*/
         display: none;
     }
 }

 @media screen and (max-width:480px) {
     .logo {
         width: 150px;
         margin-left: 40px;
         margin-top: 0px;
     }

     #section01 h1 {
         font-size: 25px;
         line-height: 40px;
         padding-left: 60px;
     }

     header > div > ul > li {
         margin: 0 5px;
     }

     header > div > ul > li > a {
         width: 100%;
         height: 20px;
         cursor: pointer;
         display: inline-block;
     }

     header > div > ul {
         padding-right: 670px;
     }

     .header-wrap header .menu-wrap > ul > li {
         padding: 10px 0;
         font-size: 12px;
     }

     .header-wrap header .menu-wrap > ul > li > ul > li {
         /*         padding-top: 50px;*/
         display: none;
     }
 }




 /* section02 */
 #section02 {
     margin: 0 auto;
     width: 100vw;
     height: 755px;
     background-image: url(../img/sectino02-bg.png);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
     background-attachment: fixed;
 }

 #section02 .bg-box {
     width: 100vw;
     height: 100vh;
     background: #aaa;
     opacity: 0.7;
     position: relative;
 }

 #section02 > article {
     position: absolute;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
 }

 #section02 h2 {
     text-align: center;
     font-size: 2em;
     font-weight: bold;
     color: #000;
     margin-top: 10px;
 }

 #section02 h2 > .small-title {
     color: #000;
 }


 article h2 > .small-title {
     font-size: 18px;
     display: block;
     font-family: "Noto DemLight";
     margin-bottom: 3px;
 }

 #section02 .btn-wrap {
     display: block;
     width: 100%;

 }

 #section02 .btn-wrap .btn-box {
     width: 50px;
     height: 50px;
     cursor: pointer;
     opacity: 60%;
 }

 #section02 .btn-wrap .btn-prev {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: -60px;
     width: 50px;
     height: 50px;
     z-index: 999;
 }

 #section02 .btn-wrap .btn-next {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     right: -60px;
     width: 50px;
     height: 50px;
     z-index: 999;
 }

 /* slider */

 .slider-wrap {
     max-width: 1200px;
     margin: 0 auto;
 }

 .slider-contents > img {
     width: 100%;
 }

 .slider-wrap > .slider-next {
     position: absolute;
     top: 50%;
     right: 30px;
     z-index: 9;
     font-size: 30px;
     transform: translatey(-50%);
 }

 .slider-wrap > .slider-prev {
     position: absolute;
     top: 50%;
     left: 30px;
     z-index: 9;
     font-size: 30px;
     transform: translatey(-50%);
 }

 .slide-right-btn {
     position: absolute;
     top: 30%;
     right: -3%;
     z-index: 9;
     transform: translateY(-40%);
     background: url(../img/icon/next.png);
     background-position: center;
     background-size: cover;
     width: 50px;
     height: 50px;
     cursor: pointer;
 }

 .slide-left-btn {
     position: absolute;
     top: 30%;
     z-index: 9;
     transform: translateY(-40%);
     left: -60px;
     background: url(../img/icon/prev.png);
     background-position: center;
     background-size: cover;
     width: 50px;
     height: 50px;
     cursor: pointer;
 }

 .slider-contents {
     outline: none;
 }

 .slider-wrap .slick-list {
     margin: -4px !important;
 }

 .slider-wrap .slick-list .slick-track .slider-contents {
     width: 390px;
     height: 600px;
     position: relative;
     margin-left: 10px;
 }

 .slider-wrap .slick-list .slick-track .slider-contents > a > .brand-img {
     width: 350px;
     height: 380px;
     position: absolute;
     top: 0;
     left: 0;
 }

 .slider-wrap .slick-list .slick-track .slider-contents .s01 .brand-img {
     background: url(../img/brand/brand01.jpg);
 }

 .slider-contents .s02 .brand-img {
     background: url(../img/brand/brand02.jpg);
 }

 .slider-contents .s03 .brand-img {
     background: url(../img/brand/brand03.jpg);
 }

 .slider-contents .s04 .brand-img {
     background: url(../img/brand/brand04.jpg);
 }

 .slider-contents .s05 .brand-img {
     background: url(../img/brand/brand05.jpg);
 }

 .slider-contents .s06 .brand-img {
     background: url(../img/brand/brand06.jpg);
 }




 .slider-contents > a .brand-num {
     width: 35px;
     height: 35px;
     line-height: 35px;
     font-size: 16px;
     text-align: center;
     background: #265c9a;
     color: #fff;
     position: absolute;
     display: inline-block;
     bottom: 270px;
     left: 25px;
     z-index: 2;
     font-family: "Noto DemiLight";
 }

 .slider-contents > a .brand-txt {
     position: absolute;
     left: 10px;
     bottom: 120px;
     width: 325px;
     height: 170px;
     background: #fff;

 }

 .slider-contents > a .brand-txt h3 {
     font-size: 1.5em;
     text-align: center;
     font-weight: bold;
     color: black;
     margin-top: 20px;
     margin-bottom: 10px;
 }

 .slider-contents > a .brand-txt p {
     font-size: 15px;
     font-weight: bold;
     text-align: center;
 }

 .slider-contents > .brand-btn {
     position: absolute;
     bottom: 140px;
     left: 95px;
     ;
     width: 150px;
     height: 30px;
     border: 2px solid #ddd;
     text-align: center;
     font-size: 15px;
     font-weight: bold;
     line-height: 33px;
 }

 .slider-contents > .brand-btn:hover {
     width: 150px;
     background: #ddd;
 }

 slider-contents .brand-txt {
     width: 300px;
     line-height: 30px;
     border: 2px solid #ddd;
 }


 .slider-contents > li .brand-btn li a:hover {
     color: #265c9a;
     font-weight: bold;
     transition: 0.3s;
 }

 .slider-contents .brand-btns {
     width: 300px;
     height: 30px;
     position: absolute;
     bottom: 30px;
     left: 75px;
     display: flex;
 }


 .slider-contents .brand-btns li {
     width: 50px;
     height: 30px;
     line-height: 30px;
     border: 2px solid #ddd;
     text-align: center;
     font-weight: bold;
     margin-left: 10px;
 }

 .slider-contents .brand-btns li:hover {
     background: #ddd;
     width: 50px;
     color: #265c9a;
     font-weight: bold;
     transition: 0.3s;
 }



 /*section03*/
 #section03 {
     width: 100vw;
     height: 100vh;
     position: relative;
 }

 #section03 article {
     padding-top: 75px;
 }

 #section03 h2 {
     color: #fff;
     font-size: 2em;
     font-weight: bold;
 }

 #section03 h2 span {
     margin-top: 10px;
     margin-bottom: 50px;
 }

 #section03 .contents-wrap {
     width: 100%;
     max-width: 1240px;
 }

 #section03 .contents-wrap .content {
     width: 300px;
     height: 290px;
     margin-left: 50px;
     margin-right: 50px;
     margin-bottom: 50px;
 }

 #section03 .contents-wrap .box1 {
     background: #fff;
     font-size: 14px;
     height: 320px;
     margin-bottom: 0;
 }

 #section03 .contents-wrap .box1 h3 {
     margin: 15px 15px;
     width: 90px;
     height: 30px;
     line-height: 35px;
     text-align: center;
     background: yellow;
     font-weight: bold;
 }

 #section03 .contents-wrap .box1 .news-txt {
     width: 270px;
     margin-left: 15px;
     font-size: 14px;
 }

 #section03 .contents-wrap .box1 .news-txt span {
     display: block;
     font-size: 12px;
     text-align: end;
     color: #aaa;
     margin-bottom: 10px;
     margin-right: 20px;
 }

 #section03 .contents-wrap .box1 .news1 {
     border-top: 2px solid #aaa;
     border-bottom: 2px solid #aaa;
 }

 #section03 .contents-wrap .box1 .news1 > p:hover {
     font-weight: bold;
 }

 #section03 .contents-wrap .box1 .news2 > p:hover {
     font-weight: bold;
 }

 #section03 .contents-wrap .box1 .news2 {
     border-bottom: 2px solid #aaa;
 }

 #section03 .contents-wrap .box1 p {
     font-size: 1em;
     margin: 25px;
 }

 #section03 .contents-wrap .box2 {
     background: #fff;
     font-size: 14px;
     position: relative;
 }

 #section03 .contents-wrap .box2 h3 {
     width: 90px;
     height: 30px;
     line-height: 30px;
     text-align: center;
     background: #42d31a;
     font-weight: bold;
     position: absolute;
     top: -15px;
     left: 10px;
     color: #fff;
 }

 #section03 .contents-wrap .box2 p {
     font-size: 13px;
     font-weight: 600;
     margin: 22px;
 }

 #section03 .contents-wrap .box2 .info-wrap {
     width: 300px;
     height: 110px;
     background: #fff;
     position: absolute;
     bottom: -30px;
 }

 #section03 .contents-wrap .box2 .info-wrap .date {
     text-align: end;
     font-weight: 100;
     color: #aaa;
 }

 #section03 .contents-wrap .box3 {
     background: #fff;
     font-size: 14px;
     position: relative;
 }

 #section03 .contents-wrap .box3 h3 {
     width: 90px;
     height: 30px;
     line-height: 30px;
     text-align: center;
     background: #42d31a;
     font-weight: bold;
     position: absolute;
     top: -15px;
     left: 10px;
     color: #fff;
 }

 #section03 .contents-wrap .box3 p {
     font-size: 13px;
     font-weight: 600;
     margin: 22px;
 }

 #section03 .contents-wrap .box3 .info-wrap {
     width: 300px;
     height: 110px;
     background: #fff;
     position: absolute;
     bottom: -30px;
 }

 #section03 .contents-wrap .box3 .info-wrap .date {
     text-align: end;
     font-weight: 100;
     color: #aaa;
 }

 #section03 .contents-wrap .box4 {
     background: #fff;
     font-size: 14px;
     position: relative;
 }

 #section03 .contents-wrap .box4 h3 {
     width: 90px;
     height: 30px;
     line-height: 30px;
     text-align: center;
     background: #bf4da6;
     font-weight: bold;
     position: absolute;
     top: -15px;
     left: 10px;
     color: #fff;
 }

 #section03 .contents-wrap .box4 p {
     font-size: 13px;
     font-weight: 600;
     margin: 22px;
 }

 #section03 .contents-wrap .box4 .info-wrap {
     width: 300px;
     height: 110px;
     background: #fff;
     position: absolute;
     bottom: -30px;
 }

 #section03 .contents-wrap .box4 .info-wrap .date {
     text-align: end;
     font-weight: 100;
     color: #aaa;
 }

 /* 인스타 박스 색 bf4da6*/

 #section03 .contents-wrap .box5 {
     background: #fff;
     font-size: 14px;
     position: relative;
 }

 #section03 .contents-wrap .box5 h3 {
     width: 90px;
     height: 30px;
     line-height: 30px;
     text-align: center;
     background: #bf4da6;
     font-weight: bold;
     position: absolute;
     top: -15px;
     left: 10px;
     color: #fff;
 }

 #section03 .contents-wrap .box5 p {
     font-size: 13px;
     font-weight: 600;
     margin: 22px;
 }

 #section03 .contents-wrap .box5 .info-wrap {
     width: 300px;
     height: 120px;
     background: #fff;
     position: absolute;
     bottom: -30px;
 }

 #section03 .contents-wrap .box5 .info-wrap .date {
     text-align: end;
     font-weight: 100;
     color: #aaa;
 }

 #section03 .contents-wrap .box6 {
     background: #fff;
     font-size: 14px;
     position: relative;
 }

 #section03 .contents-wrap .box6 h3 {
     width: 90px;
     height: 30px;
     line-height: 30px;
     text-align: center;
     background: #bf4da6;
     font-weight: bold;
     position: absolute;
     top: -15px;
     left: 10px;
     color: #fff;
 }

 #section03 .contents-wrap .box6 p {
     font-size: 13px;
     font-weight: 600;
     margin: 22px;
 }

 #section03 .contents-wrap .box6 .info-wrap {
     width: 300px;
     width: 300px;
     height: 120px;
     background: #fff;
     position: absolute;
     bottom: -30px;
 }

 #section03 .contents-wrap .box6 .info-wrap .date {
     text-align: end;
     font-weight: 100;
     color: #aaa;
 }




 /*section04*/
 #section04 {
     width: 100vw;
     height: 100vh;
 }

 #section04 h2 {
     text-align: center;
     font-size: 2em;
     font-weight: bold;
     color: #fff;
     margin-top: 100px;
 }

 #section04 h2 > .small-title {
     color: #fff;
     margin-top: 10px;
 }

 #section04 .contents-wrap {
     position: relative;
     margin-top: 80px;
     text-align: center;
 }

 #section04 .contents-wrap .left-box {
     width: 50%;
     height: 100%;
     float: left;
     text-align: center;
     margin: 0 auto;
 }

 #section04 .contents-wrap .left-box .txt-box {
     width: 450px;
     height: 150px;
     background: #ebebeb;
     text-align: center;
     padding-top: 30px;
     margin-left: 130px;
     box-sizing: border-box;
 }

 #section04 .contents-wrap .left-box .txt-box p {
     font-size: 14px;
     font-weight: bold;
     padding-top: 5px;
 }

 #section04 .contents-wrap .left-box .txt-box h3 {
     font-size: 20px;
     font-weight: bold;
     color: black;
     padding-top: 5px;
 }

 #section04 .contents-wrap .left-box .box01 {
     width: 100%;
     height: 50%;
     margin-bottom: 170px;
     position: relative;
 }

 #section04 .contents-wrap .left-box .box01 .img-box {
     width: 250px;
     height: 250px;
     position: absolute;
     top: -30%;
     left: 5%;
 }

 #section04 .contents-wrap .left-box .box01 .img-box:hover {
     width: 260px;
     height: 260px;
 }

 #section04 .contents-wrap .left-box .txt-box .btn-box {
     width: 40px;
     height: 40px;
     position: absolute;
     right: 10%;
     top: 50%;
     transform: translateY(-50%);
 }

 #section04 .contents-wrap .left-box .box03 {
     width: 100%;
     height: 50%;
     position: relative;
 }

 #section04 .contents-wrap .left-box .box03 .img-box {
     width: 250px;
     height: 250px;
     position: absolute;
     top: -30%;
     left: 5%;
 }

 #section04 .contents-wrap .left-box .box03 .img-box:hover {
     width: 260px;
     height: 260px;
 }

 #section04 .contents-wrap .right-box {
     width: 50%;
     height: 100%;
     float: left;
 }

 #section04 .contents-wrap .right-box .txt-box {
     width: 450px;
     height: 150px;
     background: #ebebeb;
     text-align: center;
     padding-top: 30px;
     margin-left: 40px;
     box-sizing: border-box;
 }

 #section04 .contents-wrap .right-box .txt-box p {
     font-size: 14px;
     font-weight: bold;
     padding-top: 5px;
 }

 #section04 .contents-wrap .right-box .txt-box h3 {
     font-size: 20px;
     font-weight: bold;
     color: black;
     padding-top: 5px;
 }

 #section04 .contents-wrap .right-box .txt-box .btn-box {
     position: absolute;
     width: 40px;
     height: 40px;
     right: 25%;
     top: 50%;
     transform: translateY(-50%);
 }

 #section04 .contents-wrap .right-box .box02 {
     width: 100%;
     height: 50%;
     margin-top: 170px;
     position: relative;
 }

 #section04 .contents-wrap .right-box .box02 .img-box {
     width: 250px;
     height: 250px;
     position: absolute;
     top: -30%;
     left: -10%;
 }

 #section04 .contents-wrap .right-box .box02 .img-box:hover {
     width: 260px;
     height: 260px;
 }

 #section04 .contents-wrap .right-box .box04 {
     width: 100%;
     height: 50%;
     margin-top: 150px;
     position: relative;
 }

 #section04 .contents-wrap .right-box .box04 .img-box {
     width: 250px;
     height: 250px;
     position: absolute;
     top: -30%;
     left: -10%;
 }

 #section04 .contents-wrap .right-box .box04 .img-box:hover {
     width: 260px;
     height: 260px;
 }

 @media screen and (max-width:1600px) {
     #section04 {
         padding-top: 80px;
     }
 }

 @media screen and (max-width:1400px) {
     #section04 {
         padding-top: 70px;
     }
 }

 @media screen and (max-width:1280px) {
     #section04 {
         padding-top: 50px;
     }

 }

 /*footer*/
 #footer {
     width: 100vw;
     background: #272b30;
     height: 200px;
 }

 #footer .footer-wrap {
     margin: 0 auto;
     width: 1240px;
     height: 100%;
     font-family: "NotoSansCJKkr-Regular";
 }

 #footer .footer-wrap .top-wrap {
     width: 100%;
     max-width: 1240px;
     height: 80px;
 }

 #footer .logo-wrap {
     background: url(../img/footer/chunjae-footer.png);
     background-size: cover;
     background-position: center;
     width: 200px;
     height: 50px;
     margin: 0 auto;
     float: left;
     margin: 20px 15px;
 }

 #footer .sns-wrap {
     float: right;
 }

 #footer .sns-wrap ul {
     width: 200px;
     height: 40px;
     background: #8d8d8d;
     margin-top: 20px;
     margin-right: 15px;
 }

 #footer .sns-wrap li {
     width: 30px;
     float: left;
     margin: 5px 5px;
 }

 #footer .txt-wrap {
     color: #8d8d8d;
     margin-top: 15px;
     margin-left: 15px;
 }

 #footer .txt-wrap .top-info {
     width: 100%;
     max-width: 1240px;
     height: 20px;
     text-align: left;
 }

 #footer .txt-wrap .top-info li {
     margin-right: 15px;
     font-size: 14px;
     position: relative;
 }

 #footer .txt-wrap .bar:nth-child(4)::after {
     content: "";
     width: 1px;
     height: 10px;
     background: #8d8d8d;
     position: absolute;
     top: 25%;
     left: -4%;
 }

 #footer .txt-wrap .btom-info {
     width: 100%;
     max-width: 1240px;
     height: 20px;

 }

 #footer .txt-wrap .btom-info li {
     margin-top: 5px;
     font-size: 14px;
     margin-right: 15px;
 }

 #footer .copy {
     width: 70%;
     font-size: 12px;
     font-weight: 600;
     margin-top: 10px;
     margin-left: 15px;
     color: #8d8d8d;
 }

 #footer .certi-wrap {
     width: 21%;
 }

 #footer .certi-wrap .img-box {
     width: 40px;
 }

 #footer .certi-wrap .txt-box {
     color: #8b8b8b;
     font-size: 10px;
     margin-top: 10px;
     margin-left: 5px;
 }
