* {
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
}

body {
    background: #41414c;
}


/*전체*/
#wrapper {
    width: 100%;
    height: 100vh;
}

/*탑 토글메뉴*/

#toggle-menu {
    display: block;
    position: fixed;
    top: -800px;
    left: 0;
    width: 100%;
    height: auto;
    background: #41414c;
    box-shadow: 0 5px 10px #1c1c21;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}

#toggle-menu.active {
    top: 0;
    transition: 0.5s;
}

.toggle-header {
    border-bottom: 1px solid #54545f;
}

.header-wrap {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 28px 0;
}

.header-wrap .close-btn {
    width: 81px;
    color: #fefefe;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 45%;
    left: 80px;
    margin-left: -13px;
}

.header-wrap .close-btn span {
    position: absolute;
    top: 2px;
    color: #fff;
}

.header-wrap .close-btn img {
    margin-right: 5px;
}

.header-wrap .main-logo2 {
    text-align: center;
}

.header-wrap .main-logo2 img {
    width: 150px;
}

.header-wrap .member-btn2 {
    text-align: right;
    width: 470px;
    position: absolute;
    top: 57%;
    margin-top: -18px;
    right: 80px;
}

.header-wrap .member-btn2 a.btn {
    background: #646277;
    border-radius: 35px;
    height: 35px;
    padding: 7px 25px;
    text-align: center;
    line-height: 25px;
    height: 25px;
    width: 75px;
    color: #fff;
    margin-right: 5px;
}

.header-wrap .member-btn2 a.btn span {
    font-size: 14px;
    color: #fff;
}

.header-wrap .member-btn2 a.login {
    background: #03c75a;
    padding: 7px 30px;
}

.header-wrap .member-btn2 select {
    margin-right: 10px;
    border-radius: 35px;
    height: 35px;
    padding: 5px 35px;
    background: url(../img/top_icon/hearder-select-bg.gif) no-repeat right 10px center #41414c !important;
    word-wrap: break-word;
    appearance: none;
    color: #fff;
}

.header-wrap .member-btn2 a {
    margin-left: 5px;
}



.deaph {
    display: table;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

}

.deaph > * {
    display: table-cell;
    text-align: center;
    color: #fff;
    border-right: 1px solid #54545f;
    padding: 40px 0;
}

.deaph > li:hover {
    background: #1f1f2a;
}

.deaph > li > a {
    display: block;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
}

.deaph > li > a:hover {
    color: #6980c7;
}

.deaph > li > ul {
    padding-top: 25px;
}

.deaph > li > ul > li {
    padding: 5px;
}

.deaph > li > ul > li:hover {
    background: #506092;
    color: #cbd0df;
}

.deaph > li > ul > li > a {
    color: #c6c6ca;
    font-size: 16px;
    display: block;
    color: #c6c6ca;
}


/* 반응형1024 - side-menu*/
.toggle-side-menu {
    display: none;
    width: 350px;
    height: 100%;
    position: fixed;
    left: -500px;
    z-index: 999;
    background: #41414c;
    box-shadow: 0 5px 10px #1c1c21;
    transition: 0.5s;
}

.toggle-side-menu.active {
    left: 0;
    transition: 0.5s;
}

.tog-header {
    margin: 0 auto;
    position: relative;
    background: #1f1f2a;
    padding: 20px 0;
    box-sizing: border-box;
}

.tog-header .close-btn1 {
    position: absolute;
    right: 10px;
    top: 30%;
}

.tog-header .logo a img {
    width: 200px;
    padding: 25px 30px 15px;
}

.btn_box1 {
    position: static;
    text-align: left;
    border-top: 1px solid #5a5a64;
    border-bottom: 2px solid #5a5a64;
    background: #41414d;
    padding: 20px 30px;
    width: auto;
}


.btn_box1 a.btn {
    padding: 6px 15px;
    font-size: 12px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    background: #646277;
    border-radius: 35px;
    text-align: center;
    color: #fff;
    margin-right: 5px;
}

.btn_box1 a.login {
    background: #03c75a;
    padding: 6px 20px;
}

.btn_box1 > select {
    padding: 3px 20px;
    border-radius: 35px;
    margin-left: 40px;
    background: url(../img/top_icon/hearder-select-bg.gif) no-repeat right 10px center #41414c;
     !important;
    appearance: none;
    word-wrap: break-word;
    color: #fff;
}

/*아코디언 nav-side*/
.deaph-side {
    width: 100%;
    margin: 0 auto;
    border-left: 1px solid #54545f;
}

.deaph-side .deaph-nav-wrap:first-child {
    border-top: 1px solid #54545f;

}

.deaph-side .deaph-nav-wrap .nav-tit {
    display: block;
    /*  height: 50px;*/
    padding: 16px 10px;
    cursor: pointer;
    display: flex;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
    align-items: center;
    position: relative;
}

.deaph-side .deaph-nav-wrap.active .nav-tit:hover {
    background: #1f1f2a;
    color: #6980c7;
}

.deaph-side .deaph-nav-wrap.active .nav-tit::after {
    display: none;
}

.deaph-side .deaph-nav-wrap .nav-tit .nav-num {
    padding: 0 20px;
    font-size: 27px;
    color: red;
}

.deaph-side .deaph-nav-wrap .nav-txt-box {
    padding: 10px;
    background-color: #1f1f2a;
}

.deaph-side .deaph-nav-wrap .nav-txt-box li {
    padding: 5px 15px;
    color: #fff;
}

.deaph-side .deaph-nav-wrap .nav-txt-box {
    display: none;

}




/*헤더부분*/
#header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #41414c;
    width: 100%;
    margin: 0 auto;
    z-index: 99;
}

#header .header_box {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 28px 0;
}

#header .header_box .menu_btn {
    float: left;
    width: 31px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -8px;
}


#header .header_box .main_logo {
    text-align: center;
}

#header .header_box .main_logo img {
    width: 150px;
}

#header .header_box .member_btn {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -13.5px;
}

#header .header_box .member_btn .btn_box {
    float: left
}

#header .header_box .member_btn .btn {
    background: #646277;
    border-radius: 30px;
    padding: 5px 15px;
    text-align: center;
    margin-right: 5px;
    width: 75px;
    height: 25px;
}

#header .header_box .member_btn .btn span {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

#header .header_box .member_btn .btn.join {
    padding: 5px 20px;
}

#header .header_box .member_btn .btn.login {
    width: 80px;
    height: 25px;
    padding: 5px 26px;
    background: #03c75a;

}

#header .header_box select {
    width: 100px;
    height: 34px;
    border: 1px solid #c1c1c1;
    margin-right: 10px;
    border-radius: 30px;
    padding: 5px 15px;
    background: url(../img/top_icon/hearder-select-bg.gif) no-repeat right 10px center #41414c !important;
    word-wrap: break-word;
    appearance: none;
    color: #fff;
    font-family: 'NanumSquare_acR';
}

#header .header_box .icon_box {
    float: right;
    margin-top: 3px;
}

#header .header_box .icon_box a {
    margin-left: 8px;
}


/* 헤더 미디어쿼리 */
@media screen and (max-width:1280px) {
    #header .header_box .member_btn .btn span {
        font-size: 12px;
    }
}

@media screen and (max-width:1150px) {
    #header .header_box .member_btn .btn_box {
        display: none;
    }

    .header-wrap .member-btn2 a.btn {
        margin-right: 0;
    }

    .header-wrap .member-btn2 a.login {
        padding: 5px 15px;
    }

    .header-wrap .member-btn2 .btn_box > a > span {
        font-size: 14px;
    }

    .header-wrap .member-btn2 a.join {
        padding: 5px 15px;
    }

    .header-wrap .member-btn2 select {
        padding: 3px 25px;
    }
}

@media screen and (max-width:1024px) {
    .header_box .icon_box .icon1 {
        margin-top: 0;
    }

    .header_box .icon_box .icon2 {
        display: none;
    }

    .header_box .icon_box .icon3 {
        display: none;
    }

    .header_box .main_logo img {
        width: 120px;
    }

    #header .header_box .menu_btn {
        top: 49px;
    }

    .wrap {
        padding: 0 30px !important;
    }

    #wrapper #toggle-menu {
        display: none;
    }

    .toggle-side-menu {
        display: block;
    }
}


@media screen and (max-width:360px) {
    .wrap {
        padding: 0 10px !important;
    }
}




/* 섹션부분 */
#containers {
    width: 100vw;
    padding-top: 110px;
    overflow: hidden;
}

/* 슬라이더 */

#main-slide {
    position: relative;
    z-index: 9;
    margin: 0 auto;
    width: 100%;
    padding: 0 40px;
    max-width: 1350px;
    box-sizing: border-box;
    /*    border: 1px solid red;*/
}

#main-slide .main_slider {
    width: 100%;
    margin: 0 auto;
    /*    border: 1px solid green;*/
}

#main-slide .main_slider .gallery-top-main {
    width: 100%;
    height: 100%;
}


.gallery-top-main .swiper-slide {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}


.gallery-top-main .swiper-slide .main-slide1-con {
    position: relative;
    padding: 0 40px;
    height: calc(100vh - 290px);
    min-height: 500px;
    max-height: 500px;
}

.gallery-top-main .swiper-slide .main-slide1-con::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 160px;
    background: rgba(0, 0, 0, .5);
    content: "";
}

.gallery-top-main .swiper-slide .main-slide1-con::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.gallery-top-main .swiper-slide .main-slide1-con .class {
    position: absolute;
    top: 0;
    left: 40px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    color: #2b2a2a;
}

.gallery-top-main .swiper-slide .main-slide1-con .text {
    float: left;
    position: relative;
    padding-top: 70px;
    width: 63%;
    /*    border: 1px solid red;*/
}

.gallery-top-main .swiper-slide .main-slide1-con .text .local {
    font-size: 18px;
    line-height: 20px;
    padding-left: 26px;
    position: relative;
    color: #fff;
}

.gallery-top-main .swiper-slide .main-slide1-con .text .local::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 14px;
    height: 14px;
    background: #ffe115;
    border-radius: 100px;
}

.gallery-top-main .swiper-slide .main-slide1-con .text .title {
    margin-top: 25px;
    margin-bottom: 15px;

}

.gallery-top-main .swiper-slide .main-slide1-con .text .title > h4 {
    margin-top: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    display: block;
}

.gallery-top-main .swiper-slide .main-slide1-con .text .data {
    display: table;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #fff;
}

.gallery-top-main .swiper-slide .main-slide1-con .text .data::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 100px;
}

.gallery-top-main .swiper-slide .main-slide1-con .text .btn {
    color: #fff;
    font-size: 15px;
}

.gallery-top-main .swiper-slide .main-slide1-con .text .btn a {
    display: block;
    width: 150px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 100px;
}

.gallery-top-main .swiper-slide .main-slide1-con > .photo {
    position: absolute;
    top: 40px;
    bottom: -40px;
    max-width: 33%;
    right: 40px;
    z-index: 100;
}

.gallery-top-main .swiper-slide .main-slide1-con .photo > a {
    display: block;
    width: 100%;
    height: 100%;
}

.gallery-top-main .swiper-slide .main-slide1-con .photo > a img {
    max-width: 100%;
    height: 100%;
}





/* 썸네일 슬라이더 */
.swiper-container.gallery-thumbs-main {
    position: absolute;
    left: 160px;
    bottom: 40px;
    width: 580px;
    height: auto;
    padding: 25px 0;
    overflow: hidden;
    box-sizing: border-box;
}

.swiper-container .gallery-thumbs-main .swiper-slide {
    text-align: center;
}

.swiper-container .gallery-thumbs-main .swiper-slide span {
    display: block;
    widows: 85px;
    cursor: pointer;
}

.swiper-container .gallery-thumbs-main .swiper-slide span > img {
    width: 100%:
}

.gallery-thumbs-main .swiper-slide-thumb-active {
    -webkit-transition: all .35s linear;
    -moz-transition: all .35s linear;
    -o-transition: all .35s linear;
    transition: all .35s linear;
    -ms-transition: all .35s linear;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.gallery-thumbs-main .swiper-slide-active {
    -webkit-transition: all .35s linear;
    -moz-transition: all .35s linear;
    -o-transition: all .35s linear;
    transition: all .35s linear;
    -ms-transition: all .35s linear;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

/* 슬라이더 버튼 */
#main-slide .swiper-button-prev {
    left: 30px;
    top: 420px;
    width: 60px;
    background: url(../img/main_slide/prev-btn_new.png) no-repeat;
    background-size: 100%;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    content: none !important;
}

#main-slide .swiper-button-next {
    left: 733px;
    top: 420px;
    width: 60px;
    background: url(../img/main_slide/next-btn_new.png) no-repeat;
    background-size: 100%;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: none !important;
}


/* 메인 슬라이더 반응형 */
@media screen and (max-width:1460px) {
    #main-slide {
        max-width: calc(100% - 130px);
        margin-left: 60px;
    }

    .swiper-container.gallery-thumbs-main {
        position: absolute;
        left: 130px;
        bottom: 40px;
        width: 500px;
        height: auto;
        padding: 25px 0;
        overflow: hidden;
        box-sizing: border-box;
    }

    #main-slide .swiper-button-prev {
        left: 30px;
        top: 420px;
        width: 45px;
        background: url(../img/main_slide/prev-btn_new.png) no-repeat;
        background-size: 100%;
    }


    #main-slide .swiper-button-next {
        left: 600px;
        top: 420px;
        width: 45px;
        background: url(../img/main_slide/next-btn_new.png) no-repeat;
        background-size: 100%;
    }

}


@media screen and (max-width:1240px) {
    .swiper-container.gallery-thumbs-main {
        position: absolute;
        left: 130px;
        bottom: 60px;
        width: 400px;
        height: auto;
        padding: 25px 0;
        overflow: hidden;
        box-sizing: border-box;
    }

    #main-slide {
        padding: 0 20px;
    }

    #main-slide .swiper-button-prev {
        left: 30px;
        top: 420px;
        width: 45px;
        background: url(../img/main_slide/prev-btn_new.png) no-repeat;
        background-size: 100%;
    }

    #main-slide .swiper-button-next {
        left: 500px;
        top: 420px;
        width: 45px;
        background: url(../img/main_slide/next-btn_new.png) no-repeat;
        background-size: 100%;
    }

}

@media screen and (max-width:1024px) {

    #main-slide .swiper-button-prev {
        left: 30px;
        top: 55%;
        width: 45px;
        background: url(../img/main_slide/prev-btn_new.png) no-repeat;
        background-size: 100%;
    }

    #main-slide .swiper-button-next {
        left: 500px;
        top: 55%;
        width: 45px;
        background: url(../img/main_slide/next-btn_new.png) no-repeat;
        background-size: 100%;
    }

    #main-slide {
        max-width: 100%;
        margin-left: 0;
        padding: 0;
    }

    .swiper-container.gallery-thumbs-main {
        display: none;
    }

    .gallery-top-main .swiper-slide .main-slide1-con .class {
        display: none;
    }

    .gallery-top-main .swiper-slide {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }

    .gallery-top-main .swiper-slide .main-slide1-con {
        min-height: 700px;
        max-height: 700px;
    }


    .gallery-top-main .swiper-slide .main-slide1-con > .photo {
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .main-slide1-con {
        height: auto;
        min-height: auto;
        max-height: auto;
    }

    .main-slide1-con {
        text-align: center;
        max-width: 620px;
        margin: 0 auto;
        min-height: auto;
        max-height: auto;
    }

    .main-slide1-con::before {
        display: none;
    }

    .main-slide1-con > .photo {
        float: none;
        width: 100%;
        bottom: auto;
        max-width: 100%;
        height: 650px;
        margin-top: 25px;
        display: block;
    }

    .main-slide1-con > .photo > a {
        width: 100%;
    }

    .main-slide1-con > .photo > img {
        width: 100%;
        height: 100%;
    }

    .main-slide1-con > ul.text {
        display: none;
        float: none;
        padding-top: 0;
        width: calc(100% - 63px);
        height: auto;
        position: absolute;
        left: 54px;
        bottom: -410px;
        z-index: 101;
        background: rgba(0, 0, 0, .5);
        padding: 10px;

    }

    .main-slide1-con > .photo > a > img {
        height: auto;
    }

    /*
    .main-slide1-con > p.class {
        left: 30px;
        top: 20px;
        z-index: 101;
    }

    .main-slide1-con > .text > li.local {
        font-size: 12px;
        line-height: 24px;
        padding-left: 0;
        text-align: left;
        width: calc(100% - 70px);
    }

    .main-slide1-con > .text > li.local::before {
        display: none;
    }

    .main-slide1-con > .text > li.title {
        height: auto;
        margin-top: 3px;
        font-size: 14px;
        text-align: left;
    }

    .main-slide1-con > .text > li.title > h4 {
        font-size: 10px;
        line-height: 20px;
    }

    .main-slide1-con > .text > li.title br {
        display: none;
    }

    .main-slide1-con > .text > li.date {
        margin-top: 7px;
        text-align: left;
        display: block;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .main-slide1-con > .text > li.date::after {
        display: none;
    }

    .main-slide1-con > .text > li.btn {
        display: none;
    }

    .main-slide1-con > .text > li.btn-mo {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 80px;
        height: 24px;
        line-height: 24px;
        background: red;
        font-size: 14px;
        color: #fff;
    }
*/
}

@media screen and (max-width:550px) {
    .gallery-top-main .swiper-slide .main-slide1-con {
        min-height: 450px;
        max-height: 450px;
        margin-bottom: 20px;
        padding-bottom: 25px;
    }

    .main-slide1-con .photo {
        width: 100%;
        height: 100%;
        max-height: 450px;
    }

    #main-slide .swiper-button-next {
        left: 450px;
        top: 55%;
        width: 45px;
    }

}


@media screen and (max-width:460px) {
    #main-slide .swiper-button-next {
        left: 350px;
        top: 55%;
        width: 45px;
    }

}

/* section2번째 메인배경 슬라이드 */
#main-bg {
    width: 100%;
    position: relative;
    padding: 90px 0 0;
}

.content-slide {
    height: 750px;

}

.content-slide .slick-dots {
    display: none !important;
}

.slide {
    max-width: 1350px;
}

.wrap > h3 {
    display: block;
    font-size: 28px;
    margin-bottom: -43px;
    font-weight: bold;
    padding-left: 50px;
    color: #fff;
    background: url(../img/section_slider/main-floor2_icon.png) no-repeat;
}

.total-wrap {
    position: relative;
}


.slider-wrap::after {
    font-size: 45px;
}


.slider-list {
    font-size: 13px;
    margin: 0 auto;
    position: relative;
    display: table;
}

.slider-list img {
    width: 150px;
}

.slider-wrap .slick-slide {
    display: table-cell;
}

.slider-wrap .slick-slide img {
    display: none;
}

.slider-wrap .slick-active {
    overflow: hidden;
}

.slider-wrap .slick-active::after {
    content: "";
    display: block;
    border-bottom: 1px solid #fff;
}

.slider-wrap .slick-active img {
    padding-top: 68%;
    display: block;
    margin: 0 auto;
    opacity: 0.5;
}

.slider-wrap .slick-center {
    overflow: hidden;
}

.slider-wrap .slick-center img {
    padding-top: 23%;
    width: 300px;
    transition: 0.3s;
    opacity: 1;
}

.slider-wrap .slick-center h2 {
    font-size: 20px;
}

.slider-wrap .slick-current img {
    display: block;
}


.slider-wrap .slick-current p {
    display: block;
    text-align: center;
}

.slider-wrap .slick-slide .box-title {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
    padding-top: 18px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    background: #38b888;
    position: absolute;
    left: 50%;
    top: 74%;
    transform: translateX(-50%);
}

.slider-wrap .slick-slide .box-title.box04 {
    background: #c000ff;
}

.slider-wrap .slick-slide .box-title.box07 {
    background: #3960a5;
    ;
}

.slider-wrap .slick-slide > p {
    display: block;
    text-align: center;
    padding: 40px 0 25px;
    font-size: 13px;
    color: #fff;
}

.slider-wrap .slick-slide p span {
    display: block;
    font-size: 14px;
    line-height: 25px;
    overflow: hidden;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;

}

.slider-wrap .slider-list h2 {
    display: none;
}

.slider-wrap .slider-list p {
    display: none;
}

.slider-wrap .slick-active h2 {
    display: block;
}

.slider-wrap .slick-active p {
    display: block;
}

.slider-wrap .slick-center p {
    font-size: 14px;
    padding: 9.5px;
    margin-top: 40px;
    display: block;

}

.slider-wrap .slick-center p span {
    display: block;
    font-size: 16px;
}


.slick-arrow {
    position: absolute;
    bottom: -15%;
    left: 65%;
    border: 0;
    z-index: 6;
    width: 48px;
    height: 48px;
    display: table;
}

.slider-wrap .pageLeft-btn {
    display: inline-block;
    position: absolute;
    bottom: -19%;
    left: 31%;
    border: 0;
    z-index: 6;
    width: 48px;
    height: 48px;
    background: url(../img/section_slider/slick-arrow_prev.png) no-repeat center center;
}

.slider-wrap .pageRight-btn {
    display: inline-block;
    position: absolute;
    bottom: -19%;
    right: 60%;
    border: 0;
    z-index: 6;
    width: 48px;
    height: 48px;
    background: url(../img/section_slider/slick-arrow_next.png) no-repeat center center;
}

.page-tab {
    margin-top: 10px;
    padding-left: 35px;
    text-align: center;
    color: #787886;
}

.page-tab li {
    display: none;
}

.page-tab li.slick-active {
    display: inline-block;
}


@media screen and (max-width:1300px) {
    .slider-wrap .slick-center img {
        padding-top: 23%;
        width: 250px;
        transition: 0.3s;
        opacity: 1;
    }
}


/*section info 부분*/
.info {
    width: 100%;
    background: #373741;
}
.info > .wrap{
    max-width:1280px;
}
.info-wrap {
    width: 100%;
    margin-top: 80px;
    background-color: #373741;
    padding-bottom: 40px;
    float: left;
}

#tabWrap-type01 {
    width: 50%;
    float: left;
}

.tabWrap {
    width: 100%;
}

.tabWrap .tabBtn-box {
    width: 100%;
    display: flex;

}

.tabWrap .tabBtn-box .tab-btn {
    width: 150px;
    font-size: 25px;
    border-right: none;
    color: #a3a3a6;
    background: url(../img/bottom_img/notice.png) no-repeat center left;
}

.tabWrap .tabBtn-box .tab-btn:nth-child(2) {
    background: url(../img/bottom_img/tic.png) no-repeat center left;
}

.tabWrap .tabBtn-box .tab-btn > a {
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    letter-spacing: -1px;
}

.tabWrap .tabBtn-box .tab-btn.on > a {
    color: #fff;
}

.tabWrap .tabContents-box {
    width: 100%;
    height: auto;
    position: relative;
}

.tabContents-box .tab-cont01 {
    width: 100%;

}

.tabContents-box .tab-cont01 p {
    color: #fff;
    border-bottom: 1px solid #bbb;
    padding: 15px;
 
}
.tabContents-box .tab-cont01 p a{
    font-size: 14px;
    width: 300px;
    padding: 0 5px;
       overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tabContents-box .tab-cont01 p:first-child {
    border-top: 1px solid #bbb;
}

.tabContents-box .tab-cont01 span.w-date {
    float: right;
    color: #fff;
    opacity: .3;
}

.tabContents-box .tab-cont02 p {
    padding: 10px;
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid #bbb;
}

.tabContents-box .tab-cont02 p:first-child {
    border-top: 1px solid #bbb;
}

.tabContents-box .tab-cont02 span.w-date {
    float: right;
    color: #fff;
    opacity: .3;
}

.more-btns {
    position: absolute;
    top: -10%;
    right: 0;
}

/*오른쪽영역*/
.right-wrapper {
    width: 50%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}

.right-wrapper .r-wrap {
    max-width: 640px;
    width: 50vw;
    height: 50%;
    display: inline-block;
}

.right-wrapper .r-wrap .notice-slider {
    width: 55%;
    margin-top: 10px;
    float: left;
    margin-right: 15px;
}

.notice-slider > h3 {
    width: 40px;
    height: 33px;
    line-height: 33px;
    background: url(../img/bottom_img/alram.png) no-repeat center left;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.notice-slider h3 a {
    width: 100px;
    display: block;
    margin-left: 45px;
    color: #a3a3a6;
}

.right-wrapper .r-wrap.notice-slider .noticeSlider-wrap {
    float: left;
}

.noticeSlider-wrap > .slick-dots {
    width: 500px;
}

.noticeSlider-wrap > .slick-list {
    width: 350px;
}

.noticeSlider-wrap div a img {
    width: 350px;
    height: 300px;
}

.youtube-scroll {
    float: left;
    width: 250px;
    padding: 10px 10px;
}
.youtube-scroll h3 {
    width: 36px;
    height: 36px;
    line-height: 34px;
    background: url(../img/bottom_img/sns.png) no-repeat center left;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 7px;
}

.youtube-scroll h3 a {
    margin-left: 45px;
    display: block;
    width: 100px;
    color: #a3a3a6;
}

.youtube-info {
    overflow: auto;
}

.youtube-info {
    float: left;
    width:100%;
    max-width: 280px;
    height: 300px;
    background-color: #eee;
    padding: 15px 15px;
    box-sizing: border-box;
    text-align: left;
}

.text {
    overflow: hidden;
    width: 250px;
    overflow-x: hidden;
}

.text dl {
    margin-bottom: 0;
    width: 250px;

}

.text dl dt {
    margin-bottom: 15px;
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
}

.text dl dt a {
    width: 220px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #103582;
}

.text dl dt span {
    display: block;
    margin-top: 3px;
}

.text dl dt span a {
    display: block;
}

.text dl dt span img {
    display: block;
    margin-top: 3px;
    border: 0;
    max-width: 100%;
    max-height: 100%;
}

/*r-wrap 의 r-btom-icons*/
.r-wrap .r-btom {
    width:100%;
    height: auto;
    display: flex;
    padding-top: 15px;
}

.r-wrap .r-btom > li {
    width: calc(100% / 8);
}

.r-wrap .r-btom li a {
   display: block;
    text-align: center;
}

.r-wrap .r-btom li.on a > span> span.img-icon{
    background: #af1c2e;
}
.r-wrap .r-btom a >span{
    display: inline-block;
    line-height: 14px;
    color: #fff;
    font-size: 13px;
}

.r-wrap .r-btom li a:hover > span.img-icon {
    background: darkred;
    border: 1px solid darkred;
}

.r-wrap .r-btom li a:hover > span.txt {
    background: darkred;
}

.r-wrap .r-btom li a span.img-icon {
    background: #43434d;
    width:60px;
    border-radius: 33px;
    margin-bottom: 20px;
    height: 60px;
    line-height: 57px;
    border: 1px solid #fff;
}

.r-wrap .r-btom li a span {
    display: inline-block;
    width: 65px;
    color: #fff;
    line-height: 13px;
    font-size: 13px;
}

/*모바일 사이즈*/
.mob-icon{
    display:none;
    width:calc(100% - 40px);
    padding: 0 20px 30px 20px;
    background-color: #373741;
}
.mob-icon::after{
    display: block;
    content: "";
    clear: both;
}
.mob-icon > ul{
    width:100%;
}
.mob-icon > ul > li{
    float: left;
  width: calc(100% /8);
  margin: 10px 0;
  text-align: center;
}
.mob-icon ul > a{
    display: block;
    text-align: center;
}
.mob-icon >ul a >span{
    display: block;
    width:64px;
    height:64px;
    margin: 0 auto 20px;
    border-radius: 33px;
     color: #fff;
  font-size: 13px;
  line-height: 64px;
  text-align: center;
}
.mob-icon >ul a >span:first-child{
    border:1px solid transparent;
}
.mob-icon >ul a >span:last-child{
    width: 100%;
  height: auto;
  font-size: 14px;
  line-height: 14px;
  word-break: break-word;
  word-wrap: break-word;
}

.mob-icon >ul li.on a span:first-child{
   background: #af1c2e;
  border: 1px solid #af1c2e;
}
.mob-icon >ul li.on a span > span{ 
    background: #af1c2e;
}
.mob-icon >ul a >span.txt >span{
    color: #fff;
}






/* section03 반응형 */
@media (max-width: 1024px) {
    .main-bg .info > .wrap{
        padding: 0 30px;
    }
    #tabWrap-type01 {
        width: 100%;
        float: none;
    }

    .right-wrapper .r-wrap {
        max-width: 0;
        width: 0;
    }

    .r-top {
        width: 100%;
        float: left;
    }
    .right-wrapper {
        width:100%;
        padding-left: 0;
    }
    .right-wrapper .r-wrap {
        max-width:100%;
        width: 100%;
        height: auto;
        display: inline-block;

    }

    .r-top > .notice-slider {
        float: left;
    }

    .right-wrapper .r-wrap .notice-slider {
        width: 0;
        float: left;
        margin-right: 0;
        margin-top: 18px;
    }

    .youtube-scroll {
        float: left;
        margin-top: 10px;
        margin-left: 400px;
    }
     .info-wrap{
       padding-bottom: 0;
    }
    
     .r-wrap ul li {
        display:none !important;
    }
 .mob-icon{
    display:block;
    padding:0px 10px 30px 10px;
    background-color: #373741;
}
}

@media screen and (max-width: 760px) {
   
   .mob-icon{
    display:block;
    padding:0px 10px 30px 10px;
    background-color: #373741;
}

    .mob-icon > ul > li{
    float: left;
  width: calc(100% /4);
  text-align: center;
}
.tabContents-box .tab-cont01 p {
     font-size: 14px;
    width:100%;
    padding: 20px 5px;
}
    .tabContents-box .tab-cont01 p a {
       overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
        display: block;
    }
}



@media screen and (max-width: 720px){
    .youtube-scroll{
        display: none !important;
    }
   
        .right-wrapper .r-wrap .notice-slider {
    margin-right: 0;
            margin-left: 5%;
    }
   
.noticeSlider-wrap > .slick-list {
    width: 600px;
    margin: 0 auto;
}

.noticeSlider-wrap div a img {
    width: 550px;
    height: 450px;
}

}
@media screen and (max-width: 480px){
    .info >.wrap{
        padding: 0 0;
    }
      .right-wrapper .r-wrap .notice-slider {
            margin-left: 0;
    }
   
.noticeSlider-wrap > .slick-list {
    width: 400px;
    margin: 0 auto;
}

.noticeSlider-wrap div a img {
    width: 400px;
    height: 350px;
} 
}

/*푸터부분*/

#footer {}

#footer .topchat-btn {
    position: fixed;
    right: 18px;
    bottom: 92px;
    z-index: 10;
}

#footer .topgo-btn {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 10;
}

#footer .topchat-btn > a {
    display: block;
    /*
    width: 60px;
    height: 60px;
    background: url(../img/footer/ic_chat.png) no-repeat 0 0;
    background-size: cover !important;
*/
}

#footer .btn a span.hidden {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    top: -9999px;
    left: -9999px;
    line-height: 0;
    text-indent: -999em;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

#footer .topgo-btn > a {
    display: block;
    /*
    width: 62px;
    height: 61px;
    background: url(../img/footer/top_btn.png) no-repeat 0 0;
*/
}


.top-footer {
    padding: 25px 0;
    background-color: #1d2335;
}

.top-footer .width-box {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.top-footer .width-box .link-box {
    float: left;
    line-height: 25px;
}

.top-footer .width-box .link-box a {
    color: #bebec1;
    font-size: 15px;
    padding: 0 10px;
    position: relative;
}

.top-footer .width-box .link-box a::after {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 2px;
    background: #3d4252;
    top: 50%;
    left: 0;
    margin-top: -5px;
}

.top-footer .width-box .link-box a:first-child::after {
    display: none;
}

.top-footer .width-box .link-box2 {
    float: right;
}

.top-footer .width-box .link-box2 a {
    margin: 0 10px;
}

.bottom-footer {
    text-align: left;
    padding: 15px 25px;
    background-color: #131111;
}

#footer .bottom-footer > .width-box > * {
    display: table-cell;
    vertical-align: middle;
}

#footer .bottom-footer > .width-box b {
    color: #b8b8b8;
    font-size: 14px;
    font-weight: 600;
    padding-right: 5px;
}

.bottom-footer > .width-box {
    display: table;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.bottom-footer > .width-box .logo {
    width: 158px;
}



.bottom-footer > .width-box .txt-box {
    padding-left: 40px;
}

.bottom-footer > .width-box .txt-box p {
    color: #747780;
    font-size: 14px;
    margin-top: 5px;
}

.bottom-footer > .width-box .txt-box.txt01 > p + p {
    margin-top: 5px;
}



@media screen and (max-width:1024px) {
    #footer .topchat-btn > a > img {
        width: 55px;
        height: 55px;
    }

    #footer .topchat-btn > a {
        position: fixed;
        right: 20px;
        bottom: 85px;
        z-index: 10;
    }

    #footer .topgo-btn > a > img {
        width: 55px;
        height: 55px;
    }

    #footer .topgo-btn > a {
        position: fixed;
        right: 20px;
        bottom: 20px;
    }

    .bottom-footer > .width-box .logo {
        width: auto;
        display: inline-block;
        text-align: center;
    }

    .bottom-footer > .width-box * {
        display: block;
    }

    #footer .top-footer {
        text-align: center;
    }

    #footer .top-footer > .width-box > * {
        float: none !important;
    }

    #footer .top-footer > .width-box > div + div {
        margin-top: 10px;
    }

    #footer .top-footer .link-box2 a {
        margin-bottom: 5px;
    }

    #footer .bottom-footer {
        padding: 30px 20px;
    }

    #footer .bottom-footer > .width-box > .logo {
        width: auto;
        margin: 0 auto;
    }

    #footer .bottom-footer > .width-box > .logo > img {
        display: inline-block;
    }

    #footer .bottom-footer > .width-box {
        display: block;
        text-align: center;
    }

    #footer .bottom-footer > .width-box > * {
        display: block;
    }

    #footer .bottom-footer > .width-box > .txt-box .copyright {
        display: block;
    }

    #footer .bottom-footer > .width-box > .txt-box .copyright br {
        display: none;
    }

    #footer .bottom-footer .del {
        display: none !important;
    }

}

@media screen and (max-width:460px) {
    .top-footer .width-box .link-box a{
        font-size: 14px;
    }
}
