html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-weight: normal;
	font: inherit;
	vertical-align: baseline;
}

element.style {
    width: 100px;
}
img {
    border: 0;
    max-width: 100%;
    max-height: 100%;
}
input, select, img {
    vertical-align: middle;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import "reset.css";

/* 테두리 초기화 */
img,fieldset {border:0 none;}

/* 버튼 초기화 */
button {border: 0;}

/* clearfix */
.clearfix{
    *zoom:1;}
.clearfix:before, .clearfix:after {
    display: block; content: '';line-height: 0;
}
.clearfix:after {
    clear: both;
}
.wrap{
    margin: 0 auto;
    padding: 0 70px;
}
.main
{
	padding: 5px;
}
em,address {font-style: normal;}


/* IR 효과 */
.ir_pm {display:block; overflow:hidden; font-size:0; line-height:0; text-indent:-9999px;} /* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_wa {display:block; overflow:hidden; position:relative; z-index:-1; width:100%; height: 100%;} /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_so {overflow: hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;} /* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */

input{font-size:inherit;font-family:inherit;color:inherit;vertical-align:middle;}
input[type="file"]{border:none;}
input[type="radio"],input[type="checkbox"]{border:none;}
button{text-transform:none;vertical-align: middle;}
button,[type="button"],[type="reset"],[type="submit"]{background-color:transparent;cursor: pointer;}
select{font-size:inherit;font-family:inherit;color:inherit;text-transform:none;vertical-align:middle;}
textarea{font-size:inherit;font-family:inherit;color:inherit;vertical-align:middle;resize:none;}
input[disabled="disabled"]{background-color:#ebebeb;color:#959595;}
select[disabled="disabled"]{background-color:#ebebeb;color:transparent;}